.cp__header {
  @apply shadow z-10;

  -webkit-app-region: drag;
  padding-top: calc(var(--ls-headbar-inner-top-padding));
  margin-top: var(--ls-win32-title-bar-height);
  height: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding));
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1;
  white-space: nowrap;

  > .l {
    @apply pl-2;

    min-width: var(--ls-left-sidebar-width);
    height: 100%;
    align-items: center;
    transition: padding-left 0.2s;
  }

  > .r {
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    padding-right: 6px;
  }

  /* To prevent header glitch on Safari */

  > .l,
  > .r {
    transform: translate3d(0, 0, 0);
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    .ti,
    .tie {
      font-size: 20px;
    }
  }

  .ui-items-container .button {
    width: auto;
    padding: 0 8px;
  }

  svg.warning {
    transform: scale(0.6);
    color: red;
  }

  &-tips {
    position: absolute;
    padding: 13px 0;
    text-align: center;
    font-weight: 500;
    background: transparent;
    margin-top: 0;
    line-height: 0;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    z-index: 1000;

    > p {
      color: var(--ls-primary-text-color);
      margin: 0;
      display: inline-flex;
      align-items: center;
      font-size: 14px;
    }

    a {
      color: var(--ls-link-text-color, #045591) !important;
    }

    a.restart {
      position: relative;
      display: flex;
      align-items: center;

      svg {
        color: currentcolor !important;
        margin-right: 2px;
      }

      > strong {
        display: inline-block;
        padding-left: 2px;
        cursor: pointer;
      }
    }
  }

  .dropdown-wrapper {
    .ti,
    .tie {
      opacity: 0.9;
    }
  }

  .add-graph-btn {
    border: 1px dashed var(--ls-border-color);
    padding: 0 8px;

    strong {
      padding: 0 10px;
      position: relative;
      top: 1px;
    }
  }
}

.is-electron.is-mac .cp__header {
  > .l {
    padding-left: 78px;
  }
}

.is-electron.is-mac.is-fullscreen .cp__header > .l {
  padding-left: 1rem;
}

/* Workaround for Linux Intel GPU text rendering issue GH#7233 */
.is-electron.is-linux .cp__header .dropdown-wrapper .title-wrap {
  position: relative;
}

.cp__header a,
.cp__header svg,
.cp__header button {
  -webkit-app-region: no-drag;
}

.cp__header-logo {
  @apply p-2;

  display: none;
}

.cp__header-logo:hover {
  opacity: 1;
}

.cp__header-logo-img {
  width: 24px;
  height: 24px;
}

@screen sm {
  .cp__header {
    @apply shadow-none;
  }

  .cp__header-logo {
    display: block;
  }
}

.cp__header-logo svg {
  transform: scale(0.9);
}

#repo-name {
  @apply inline-flex items-center whitespace-nowrap;

  max-width: 16ch;
}

.button {
  @apply h-8 px-2.5 py-1 rounded-md opacity-90 block select-none hover:opacity-100 active:opacity-80;

  &:hover {
    @screen md {
      background: var(
        --lx-gray-04,
        var(--ls-tertiary-background-color, var(--rx-gray-04))
      );
    }
  }
}

.button.icon {
  @apply w-8 h-8 p-1 flex items-center justify-center;
}

.button.icon.add-graph-btn {
  width: unset;
  margin: 0 6px;
}

.is-mac.is-electron
  :is(.cp__header, .cp__right-sidebar-topbar)
  :is(button, .button, a) {
  cursor: default !important;
}

.drag-region {
  user-select: none;
  -webkit-app-region: drag;
}
