{:linters
 ;; Disable until we decide to use conj! as recommended in docs
 {:unused-value {:level :off}
  :unresolved-symbol {:exclude [goog.DEBUG
                                ;; TODO:lint: Fix when fixing all type hints
                                object]}
  :unresolved-var {:exclude [;; frontend.pubsub/def-mult-or-pub generates vars
                             ;; clj-kondo cannot resolve.
                             frontend.pubsub]}}

 :hooks {:analyze-call {rum.core/defc hooks.rum/defc
                        rum.core/defcs hooks.rum/defcs}}
 :lint-as {promesa.core/let clojure.core/let
           promesa.core/loop clojure.core/loop
           promesa.core/recur clojure.core/recur
           rum.core/with-context clojure.core/let
           rum.core/defcontext clojure.core/def
           frontend.namespaces/import-vars potemkin/import-vars
           frontend.test.helper/deftest-async clojure.test/deftest
           frontend.test.helper/with-reset cljs.test/async}
 :skip-comments true}
